@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif !important;
}

button {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif !important;
}

body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif !important;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
    135deg,
    #ff7979 0%,
    #ffbe76 10%,
    #ffbe76 20%,
    #f6e58d 30%,
    #b8e994 40%,
    #82ccdd 50%,
    #74b9ff 60%,
    #a29bfe 70%,
    #dfe6e9 80%,
    #f8c291 90%,
    #ff9797 100%
  ); */
  background-color: #f1f1f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-next-enter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%); /* 오른쪽에서 시작 */
}
.fade-next-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}
.fade-next-exit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙에서 시작 */
}
.fade-next-exit-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%); /* 왼쪽으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.fade-prev-enter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%); /* 왼쪽에서 시작 */
}

.fade-prev-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.fade-prev-exit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙에서 시작 */
}

.fade-prev-exit-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%); /* 오른쪽으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.item-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms ease-in,
    transform 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.radio-group {
  display: flex;
  gap: 30px;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

.radio input[type="radio"] {
  display: none;
}

.radio-custom {
  width: 24px;
  height: 24px;
  border: 1px solid #d2d5d6;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}

.radio-custom::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}

.radio input[type="radio"]:checked + .radio-custom::after {
  opacity: 1;
}

.radio input[type="radio"]:checked + .radio-custom {
  border-color: black;
  border: 8px solid black;
}

.radio input[type="radio"]:checked + .radio-custom + .radio-label {
  font-weight: bold;
}
