@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-next-enter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%); /* 오른쪽에서 시작 */
}
.fade-next-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}
.fade-next-exit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙에서 시작 */
}
.fade-next-exit-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%); /* 왼쪽으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.fade-prev-enter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%); /* 왼쪽에서 시작 */
}

.fade-prev-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.fade-prev-exit {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  transform: translateX(0); /* 중앙에서 시작 */
}

.fade-prev-exit-active {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%); /* 오른쪽으로 이동 */
  transition:
    opacity 300ms,
    transform 300ms;
}

.item-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 500ms ease-in,
    transform 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
